body{
	height: 100%;
}

p{
	color: #9C9C9C;
}

.comptable{
	width: 80%;
}
.comptable td{
	width: 50%;
	color: #9C9C9C;
	border: 1px solid white;
}
.header{
	z-index: 1;
	position: fixed;
	top: 0;
	width: 85%;
	height: 10%;
	background: #000;
	color: #FFF;
	left: 15%;
	display: block;
}
.title{
	text-align: center;
	font-size: 2vw;
}
.menubody{
	overflow-y: scroll;
	z-index: 0;
	top:10%;
	left: 15%;
	position: fixed;
	height: 90%;
	width: 85%;
	background: #1F1F1F; 
	color: #FFF;
	display: inline-block;
	font-size: 1.5vw;
}
.menubody ul{
	list-style: none;
}
.menubody dt{
	padding: 1vw;
	font-size: 1.5vw;
}
.menubody dd{
	color: #9C9C9C;
}
.menubody ul dt::before, .menubody li::before{
	content: "\2022";
	color: red;
	font-weight: bold;
	display: inline-block; 
	width: 1vw;
	margin-left: -1.5vw;
}
.menubody ul li{
	padding-top: 0;
	padding-bottom: 0;
}

footer{
	display: none;
}

.sidenav {
	background-color: #2F2F2F;
  	height: 100%; 
	width: 15%; 
	position: fixed; 
	z-index: 2;
	top: 0;
	left: 0;
	/*overflow-x: hidden;*/
	padding-top: 1.5vw;
}

.sidenav a, .sidenav li {
  padding: 2.5% 2.5% 2.5% 8%;
  text-decoration: none;
  font-size: 1.5vw;
  display: block;
}
a,li{
	color: #818181;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.button:hover {
  background-color: green;
}

/*TREEVIEW*/
#myUL, #myUL2 {
	margin: 0;
	padding: 0;
}

.tree {
	cursor: pointer;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}

.tree::before {
	content: "\021D2";
	color: white;
	display: inline-block;
	margin-right: 0.1%;
}

.check-tree::before {
	content: "\021D3"; 
	color: white;
}

.nested {
 	display: none;
 	padding: 0;
}

.active {
 	display: block;
}

/*LIGHTINING*/
#this {
	color: yellow;
}

/*GALLERY*/
div.gallery {
	position: relative;
	margin: 0.2vw;
	border: 0.1vw solid #ccc;
	float: left;
	height: 22vw; 
	width: 17vw;
}
div.gallery a
{
	height: 80%;
}
div.photocontainer
{
	height: 80%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	font-size: 1.5vw;
	text-align: center;
}

/*INPUT*/
.bootstrap{
  width:250px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  outline:none;
  padding: 6px;
}

.bootstrap:focus{
  border:1px solid #56b4ef;
  box-shadow: 0px 0px 3px 1px #c8def0;
}
